<div>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

                <a routerLink="index.html" class="logo d-flex align-items-center">
                    <img src="../../../assets/images/logo.png" alt="">
                    <span>ITS</span>
                </a>
            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up" style="color: #1B263B;">We offer modern solutions for Tracking your
                            Incidents</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a routerLink="login"
                                    class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                                    style="background-color: #0D1B2A;">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="../../../assets/img/hero-img (2).svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= Values Section ======= -->
            <section id="values" class="values">

                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h2>Our Features</h2>
                        <p>These are different dashboards available.</p>
                    </header>

                    <div class="row">

                        <div class="col-lg-4 shadow" data-aos="fade-up" data-aos-delay="200">
                            <div class="box">
                                <img src="../../../assets/img/values-1.png" class="img-fluid" alt="">
                                <h3>SUPER ADMIN</h3>
                                <ul>
                                    <li class="text-start">Organization Creation</li>
                                    <li class="text-start">Organization Admin Creation</li>
                                    <li class="text-start">Notifications</li>
                                    <li class="text-start">Alerts</li>
                                    <li class="text-start">Email Alerts</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 shadow" data-aos="fade-up" data-aos-delay="400">
                            <div class="box">
                                <img src="../../../assets/img/values-2.png" class="img-fluid" alt="">
                                <h3>ORGANIZATION ADMIN</h3>
                                <ul>
                                    <li class="text-start">Sub-Ordinate Creation</li>
                                    <li class="text-start">Analysis</li>
                                    <li class="text-start">Notifications</li>
                                    <li class="text-start">Incidents Analysis</li>
                                    <li class="text-start">Organization Users Analysis</li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 shadow" data-aos="fade-up" data-aos-delay="600">
                            <div class="box">
                                <img src="../../../assets/img/values-3.png" class="img-fluid" alt="">
                                <h3>ORGANIZATION SUB-ORDINATE</h3>
                                <ul>
                                    <li class="text-start">User Creation</li>
                                    <li class="text-start">Incident Operations</li>
                                    <li class="text-start">Incident Analysis</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </section><!-- End Values Section -->

            <!-- ======= Counts Section ======= -->
            <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">

                    <div class="row gy-4">

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="fa-solid fa-arrow-up" style="color: #0d1b2a;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="232"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Report</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="fa-solid fa-eye" style="color: #0d1b2a;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="521"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Verify</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="fa-solid fa-spinner" style="color: #0d1b2a;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="1463"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Processing</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="fa-solid fa-xmark" style="color: #0d1b2a;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="15"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Completed</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Counts Section -->

            <!-- ======= Features Section ======= -->
            <section id="features" class="features">



            </section><!-- End Features Section -->
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->

        <a routerLink="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>


    </body>


</div>
<app-footer></app-footer>